.App {
  text-align: center;
  
}

.bg {
  height: 100vh;
  background-image: url(./assets/background.jpg);
  
}

input {
  padding: 5px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  color: #fff;
  width: 20vw;
  
}
#searchbutton {
  background-color: #b6729b;
  border: 1px solid #b6729b;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  
  
}

#searchbutton:hover {
  background-color: #6c3c57;
  border: 1px solid #6c3c57;
}

#seemore {
  border-radius: 25px;
  background-color: #673f7e;
  border: 1px solid #673f7e;
  margin: 10px;
}

#seemore:hover {
  background-color: #412452;
  border: 1px solid #412452;
}

#container {
  background-color: #352c65;
  border-radius: 10px;
  width: 50vw;
  color: aliceblue;
  
}

.row {
  text-align: center;
}

#h1 {
  font-size: 4em;
}

#city {
  font-size: 2em;
}

::selection {
  background-color: #dd9eb1;
}