.App {
  text-align: center;
  
}

.bg {
  height: 100vh;
  background-image: url(./assets/background.jpg);
  
}

input {
  padding: 5px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  color: #fff;
  width: 20vw;
  
}
#searchbutton {
  background-color: #b6729b;
  border: 1px solid #b6729b;
  border-radius: 25px;
}

#searchbutton:hover {
  background-color: #995b80;
}

#seemore {
  border-radius: 25px;
  background-color: #673f7e;
  border: 1px solid #673f7e;
}

#seemore:hover {
  background-color: #412452;
  border: 1px solid #412452;
}

#container {
  background-color: #352c65;
  border-radius: 10px;
  width: 50vw;
  color: aliceblue;
  
}

.row {
  text-align: center;
}